@import "tailwindcss";

:root {
  font-family: var(--font-poppins), sans-serif;
}

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: #f9fafb; /* bg-gray-50 */
  color: #111827; /* text-gray-900 */
}

code, pre {
  font-family: var(--font-roboto-mono), monospace;
}